<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.ClientMapper">

    <select id="findClient" resultType="pobject.Client">
        SELECT * FROM client WHERE username=#{username}
    </select>

    <insert id="register">
        INSERT INTO client VALUES (#{username},#{password},0,#{email})
    </insert>

</mapper>