<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.CourseMapper">

    <select id="findPrimaryCourse" resultType="pobject.Course">
        SELECT * FROM Course WHERE sort = '小学辅导';
    </select>

    <select id="findCourseTop10" resultType="pobject.Course">
        SELECT * FROM Course WHERE sort=#{sort} AND city=#{city} ORDER BY count LIMIT 5
    </select>

    <select id="findLikeCourseTop5" resultType="pobject.Course">
        SELECT * FROM Course LIMIT 5
    </select>

    <select id="findCourseByName" resultType="pobject.Course">
        SELECT * FROM Course WHERE cname=#{cname}
    </select>

    <select id="findCourseById" resultType="pobject.Course">
        SELECT * FROM Course WHERE cid=#{cid}
    </select>






</mapper>