<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.OrderMapper">
    <insert id="addOrder">
        INSERT INTO orders VALUES (null,#{username},#{cid},#{cname},#{price},#{createTime})
    </insert>

    <select id="showOrders" resultType="pobject.Order">
        SELECT * FROM orders WHERE username=#{username}
    </select>

    <select id="findOrder" resultType="pobject.Order">
        SELECT * FROM orders WHERE username=#{username} AND cid=#{cid}
    </select>
</mapper>