
.contain1{
    width:100%;
    height: 450px;
    background: white;
    margin-top: 50px;
}

.content1{
    padding-top: 30px;
    margin: 0 auto;
    width:80%;
}



.breadsep{
    display: inline-block;
    margin: 0 5px;

}

.breadpath{
    font-size: 13px;
    color: #797979;
    margin-bottom: 15px;
}

.breadpath a{
    color: #7cb545;
}

.breadpath a:hover{
    text-decoration: none;
    cursor: pointer;
}

.intro_section{
    margin-top: 5px;
}

.imgdiv{
    margin-top: 7px;
    width:450px;
    height: 345px;
    float: left;
    overflow: hidden;
}

.imgdiv img{
    width: 450px;
    height: 345px;
}

.intro_right{
    position: relative;
    margin-left: 80px;
    width: 500px;
    float: left;
}

.font_cname{
    font-size: 25px;
    display: block;
}

.font_left{
    display: inline-block;
    width: 80px;
}


.timediv{
    font-size: 11px;
    color: #797979;
    background-color: #f6f6f6;
    min-height: 150px;
    max-height: 180px;
    padding: 20px 20px 20px 20px;
}

.btn_buy{
    top:300px;
    position: absolute;
    display: block;
    height: 50px;
    width: 250px;
    background-color: #f66630;
    color: white;
    border: none;
    font-size: 20px;
}

.btn_view{
    top:300px;
    position: absolute;
    display: block;
    height: 50px;
    width: 250px;
    background-color: #5ac66e;
    color: white;
    border: none;
    font-size: 20px;
}

.font_share{

    display: block;
    margin-top: 10px;
    float: right;
    font-size: 14px;
}

.font_price{
    font-size: 25px;
    color: red;
    display: block;
    line-height: 40px;
}
.font_cid{
    font-size: 14px;
    color: #747474;
    display: block;
    line-height: 30px;
}


/*==================================================*/

.detail_section{
    margin-top: 40px;
    margin-left: 100px;
    float: left;
    width: 800px;
    background-color: white;
    padding: 10px 50px 30px 50px;
    min-height: 600px;

}

.detail_title{
    border-bottom: solid 1px #cbcbcb;
    margin-bottom: 20px;
    height: 60px;
}

.font_detail_title{

    font-size: 30px;
    display: inline-block;
    line-height: 60px;

}

.font_detail_title_sm{
    font-size: 18px;
    display: block;
    margin-bottom: 10px;

}

.font_detail_content{
    display: block;
    font-size: 13px;
    color: #737373;
    margin-bottom: 60px;

}

.detail_section .glyphicon{
    color: #59bc37;
    display: inline-block;
    margin-right: 5px;
    font-size: 16px;
}

.teacher_section{
    width: 300px;
    min-height: 500px;
    background-color: white;
    float: left;
    margin-top: 40px;
    margin-left: 50px;
    padding: 15px 30px 0 30px;
}

.font_teacher_title{
    font-size: 20px;
    display: block;
    padding-bottom: 5px;
    border-bottom: 1px solid #cbcbcb;
    margin-bottom: 10px;

}

.font_left_sep{
    color: #59bc37;font-weight: bolder;display: inline-block;margin-right: 5px;font-size: 25px;
}

.teacherdiv{

    height: 80px;
    width: 100%;
}

.teacherimg{
    width: 50px;
    margin: 15px;
    border-radius: 25px;
    height: 50px;
    overflow: hidden;
    float: left;
}

.teacherimg img{
    width: 50px;
    height: 50px;
}

.font_teacher_name{
    display: inline-block;
    height: 80px;
    line-height: 80px;
}

.commentdiv{

    height: 120px;
    width: 100%;
}

.commmentleft{
    float: left;
    height: 120px;
    width: 10%;
}

.commmentright{
    float: left;
    height: 120px;
    width: 90%;
}

.commentimg{
    width: 40px;
    border-radius: 20px;
    height: 40px;
    overflow: hidden;

    /*float: left;*/
}

.btn_cmt{
    float: right;
    margin-top: 10px;

}

.font_cmt_username{
    font-size: 12px;
    color: #eea236;
}

.font_cmt_cnt{
    line-height:50px;
    color: #969696;
}

.font_cmt_content{
    color: #505050;
}

.font_cmt_time{
    color: #aeaeae;
    font-size: 12px;
}

.commentimg img{
    width: 40px;
    height: 40px;
}


*{
    margin: 0;
    padding: 0;
}
div, input, textarea, button, a {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
ul, li, ol{
    list-style: none;
}
a {
    color: #323232;
    outline-style: none;
    text-decoration: none;
}
.border-b {
    position: relative;
}
.border-b:after {
    top: auto;
    bottom: 0;
}
.border-t:before, .border-b:after {
    content: '';
    position: absolute;
    left: 0;
    background: #ddd;
    right: 0;
    height: 1px;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}
.nav {
    background-color: #fff;
}
.nav .tab {
    width: 100%;
    position: relative;
    overflow: hidden;
}
.tab a {
    float: left;
    width: 15%;
    margin-right: 20px;
    line-height:40px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}
.tab a:last-child {
    border-right: 0;
}
.tab .curr {
    border-bottom: 3px solid #59bc37;
    color: #59bc37;
}
.content>ul>li {
    width: 100%;
    display: none;
}

.content>ul>li>ul>li {
    width: 100%;
    display: block;
}

.content>ul{
    padding: 40px 10px 0 10px ;
}


.img_msg{
    width: 200px;
    height: 170px;
    margin: 80px auto 0 auto;
    overflow: hidden;
}

.img_msg img{
    width: 200px;
    height: 170px;
}

.font_msg{
    font-size: 20px;
    display: block;
    width: 80px;
    margin: 20px auto 0 auto;
}



