.clear{
    clear: both;
}
.mid_section{
    /*background-color: #dbdbdb;*/
    margin-top: 30px;
}

.nav_stand {
    border-radius: 10px 0 0 10px;
    z-index: 100;
    margin-left: 100px;
    width: 180px;
    height: 381px;
    /*background: #5d5d5d;*/
    background-color: #343434;
    cursor: pointer;
    float: left;
    position: relative;
    padding-top: 13px;

}

.nav_stand>dl>dd>span{
    line-height: 50px;
}


.nav_stand>dl>dd{
    margin: 0;
    height: 50px;
    display: block;
    transition: text-indent 0.5s ease 0s;
}

.nav_stand>dl>dd:hover {
    background: #777777;
    text-indent: 10px;
}

.nav_stand>dl>dd>a{
    text-decoration: none;
    color: #c4c4c4;
    font-size: 15px;
    line-height: 50px;


}


.nav_panel dd,dt{
    font-size: 12px;
    margin: 0;
    display: block;
    text-indent: 20px;
    color: #2b7bee;
    line-height: 23px;
}


.nav_panel a{
    color: #8a8a8a;
    text-decoration: none;

}
.nav_panel a:hover{
    color: #2d81f9;
}

.nav_panel span{
    margin:0 10px;
}


.nav_stand dd .nav_panel{
    padding-top: 20px;
    display: none;
    position: absolute;
    top:0;
    left: 180px;
    width: 670px;
    height: 381px;
    background-color: #f6f6f6;
    z-index: 999;
    border: solid 1px #b3b3b3;



}

.nav_stand dd:hover .nav_panel{
    display: block;

}

.dd_span1{
    font-size: 7px;
    color: white;
    float: left;
    line-height: 40px;
    margin-left: 30px;
    margin-right: 10px;
    margin-top: -1px;
}

.dd_span2{
    font-size: 7px;
    color: white;
    float: right;
    line-height: 40px;
    margin-right: 30px;
    margin-top: -2px;
}

.nav_stand dd:hover .dd_span2{
    margin-right: 20px;
    transition: margin-right 0.5s ease 0s;
}




.nav_scn{
    height: 381px;
    float: left;
    width: 1050px;
    border-radius: 0 10px 10px 0;
    overflow: hidden;
}

.carousel-inner .item{
    height: 381px;
    width: 1050px;
}

.carousel-inner img{
    height: 381px;
    width: 1050px;
}





/*===========================================================*/
.login_tip{
    float: left;
    background-color: #ffffff;
    height:280px;
    width: 230px;
    margin: 50px 0 50px 30px;
    text-align: center;
    padding-top: 35px;
    border: none;

}



.login_btn{
    display: block;
    background-color:#51bd6c;
    color: white;
    width: 150px;
    height: 40px;
    margin: 35px 40px 0 40px;
    font-size: 15px;

}

.login_btn:hover{
    background-color: #64e985;

}

/*=============================like courses==============================*/
.like_section{
    overflow: hidden;
    height: 352px;
    margin-top: 50px;
    /*background: url(/resources/img/custom/likebg.jpg) no-repeat;*/
    margin-left: 100px;

}



.like_courses{
    float: left;
}

.like_list{
    width: 1400px;
    height: 352px;

}

.like_list li{

    margin-right: 14px;
    margin-bottom: 10px;
    float: left;
    width: 235px;
    height: 300px;
    background-color: white;
    overflow: hidden;
    border-radius: 5px;
}

.like_img{
    width:235px ;
    height: 180px;
    overflow: hidden;
}

.like_list li img{

    width: 235px;
    height: 180px;
    transform: scale(1.0);

}

.like_list li:hover img{
    -webkit-transform: scale(1.20);
}
.like_list li a{
    display: inline-block;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.like_list li:hover{
    box-shadow: 2px 2px 2px #888888;
    cursor: pointer;
}

.font_title{
    display: inline-block;
    font-size:25px;
    margin-bottom: 10px;
}

.font_cname{
    font-size: 15px;
    color: black;
}

.font_info{
    font-size: 11px;
    color: #878787;
}

.font_info span{
    margin-right: 5px;
}

.font_price{
    font-size: 17px;
    color: red;
}


.like_list a{
    text-decoration: none;
    height: 20px;
    line-height: 20px;
}

.refresh{
    text-decoration: none;
    color: #797979;
    float: right;
    font-size: 15px;
    margin-right: 110px;
    margin-top: 15px;
}

.refresh:hover{
    color:#29aeb3;
    text-decoration: none;
    cursor: pointer;
}

p{
    margin-bottom: 5px;
}

ul{
    list-style: none;
    padding: 0;
}



/*=============================all courses==============================*/

.all_section{
    overflow: hidden;
    height: 600px;
    margin-top: 50px;
    margin-left: 100px;
}

.all_courses{
    float: left;
}

.all_list{
    height: 600px;
}


.all_section>div>a{
    line-height: 45px;
    font-size: 15px;
    display: inline-block;
    height: 44px;
    width: 100px;
    color: #797979;
    text-align: center;

}

.all_section>div>a:hover{
    cursor: pointer;
    text-decoration: none;
    color: #3692e3;

}

.all_list a:hover{
    cursor: pointer;
    text-decoration: none;
}



.a_active{
    line-height: 45px;
    font-size: 15px;
    display: inline-block;
    height: 44px;
    width: 100px;
    text-decoration: none;
    text-align: center;
    color:#00bfff;
}





.all_list li{
    opacity: 0.95;
    float: left;
    margin-right: 21px;
    margin-bottom: 20px;
    width: 230px;
    height: 210px;
    background-color: white;
    transition: opacity 0.5s ease 0s ;
    overflow: hidden;
}

.all_img{
    width:230px ;
    height: 150px;
    overflow: hidden;
}

.all_list li img{

    width: 230px;
    height: 150px;
    transform: scale(1.0);

}

.all_list li:hover img {
    -webkit-transform: scale(1.20);
}

.all_list li a{
    width: 220px;
    text-decoration: none;
    display: inline-block;
    padding-top: 7px;
    padding-left: 20px;
    padding-right: 20px;

}

.all_list li:hover{
    opacity: 1;
    box-shadow: 2px 2px 2px #888888;
    cursor: pointer;

}

.font_cname1{
    font-size: 14px;
    color: black;
}

.font_info1{
    float: left;
    font-size: 11px;
    color: #b3b3b3;
}

.font_price1{
    float: right;
    font-size: 11px;
    color: red;
}

.all_right{
    float: left;height: 400px;width: 240px;
    overflow: hidden;
    background: white;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.rank_title{
    font-size: 20px;border-bottom: solid 1px #c4c4c4
}

.mark_line{
    color: #64e985;margin-right: 5px;
    font-weight: 900;
}

.rank_list{
    display: block;
    font-size: 13px;
    padding-top: 10px;
    padding-left: 10px;
}


.rank_list a {
    display: inline-block;
    height: 35px;
    line-height: 35px;
    color: black;
}

.rankn{
    margin-right: 5px;
    margin-top: -3px;
    text-align: center;
    display: inline-block;
    width: 17px;
    height: 17px;
    line-height: 17px;
    vertical-align: middle;
    border-radius: 4px;
    color: white;
}

.rank1{
    background-color: #ff6616;
}

.rank2{
    background-color: #ff951d;
}

.rank3{
    background-color: #ffd526;
}

.rank_other{
    background-color: #b5b5b5;
}





/*=========================================course.jsp=============================================*/
/*=========================================course.jsp=============================================*/
/*=========================================course.jsp=============================================*/
/*=========================================course.jsp=============================================*/





